.main {
  font-family: "Gentium Basic", serif;
  border: none;
  border-color: #3795d4;
  border-radius: 30px;
  box-shadow: rgba(99, 99, 99, 0.7) 0px 15px 15px 0px;
  border-width: 5px;
  background: linear-gradient(#f3e7e9, #abcdef, #d7f5ff);
  margin: 20px 0;
  padding: 20px;
}

body {
  background-image: url("image/cloud1.jpg");
  background-size: cover;
}

h1 {
  color: #3795d4;
  text-shadow: 1px 1px gray;
  font-weight: 900;
  font-size: 54px;
  text-align: center;
  margin: 10px;
}

form {
  margin: 20px;
}
.search-box {
  border-radius: 30px;
  border: solid;
  border-width: 2px;
  border-color: #d45f37;
  box-shadow: rgba(99, 99, 99, 0.3) 0px 1px 1px 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 20px 20px;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-image: url("image/cancel.png");
  background-size: contain;
  cursor: pointer;
  margin-right: 0;
}

.buttons {
  border-radius: 40px;
  border-color: #d45f37;
  background-color: #d45f37;
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 2px 0px;
  padding: 5px 20px;
}

.buttons:hover {
  background-color: #ffc107;
  border-color: #ffc107;
}
.search-button {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 5px;
}

.location-button {
  margin-left: 5px;
  margin-bottom: 20px;
  margin-right: 5px;
}

.search-icon {
  color: white;
  font-size: 20px;
  padding: 0 5px;
  display: inline;
}
.location-icon {
  color: white;
  font-size: 20px;
  padding: 0 5px;
  display: inline;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  margin: 10px;
  text-align: center;
}

.static-text {
  color: #d45f37;
  font-weight: 600;
}

h4 {
  font-weight: 500;
  font-size: 24px;
  padding: 5px;
  text-align: center;
}

h3 {
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  margin: 5px;
}

h5 {
  font-weight: 500;
  font-size: 20px;
}
ul {
  list-style: none;
  margin: 10px;
  padding: 10px;
}

li::first-letter {
  text-transform: capitalize;
}

li strong {
  font-size: 64px;
}

.temp-unit {
  position: relative;
  top: -20px;
}
.main-icon {
  width: 140px;
  height: auto;
  display: block;
  margin: auto;
  padding: 20px;
}

.feelslike-temp {
  font-size: 30px;
}
.weather-parameter {
  margin-top: 30px;
}

.weather-forecast {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.forecast-indiv {
  margin: 10px;
  padding: 10px;
}

.forecast-day {
  font-weight: bold;
  font-size: 22px;
}

.forecast-temp-max {
  font-weight: bold;
}

.forecast-temp-min {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.forecast-indiv img {
  padding: 10px;
}

p {
  color: white;
  display: block;
  text-align: center;
}

.link {
  color: #ff9900;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  color: white;
  text-decoration: underline;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  color: black;
  text-decoration: none;
}
